.app {
  background: #D3D3D3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  max-height: 250px;
  padding: 0;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 6px;
}

.todo-input {
  width: 80%;
  height: fit-content;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  border: 1px;
  background: #f6f6f6;
  font-size: 16px;
}

.todo-btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.todo-group-btn {
  display: flex;
  gap: 0.5;
}

.todo-add-btn {
  width: 15%;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
}

.primary {
  background-color: red;
  color: white;
}

.secondary {
  background-color: blue;
  color: white;
}